.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

@media screen and (min-width: 992px) {
    .w-100 {
        display: none;
    }
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

.display-4 {
    color: black;
}

.btn {
    margin-right: 5px;
    margin-bottom: 5px;
}

.fas, .fab {
    margin-right: 20px;
}

.fas:hover, .fab:hover {
    cursor: pointer;
}

#outerContainer {
    margin-top: 100px;
}

i.fas-enabled {
    color: #ffffff;
}

i.fas-disabled {
    color: #A7A1A0;
}

.navbar-spacer {
    margin-right: 50px;
}

.fa-check-circle {
    color: #ffffff;
    margin-right: 5px;
    cursor: pointer;
}

.fa-times-circle {
    color: #ffffff;
    cursor: pointer;
}